{% extends 'base.html.twig' %}

{% block title %}Mon Carnet{% endblock %}

{% block body %}
<h1>Bienvenue dans votre Carnet</h1>
<p>Ajoutez vos expériences de voyage, vos photos et partagez vos moments.</p>
{% endblock %}
