{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<h1>Bienvenue sur votre Profil</h1>
<p>Modifiez vos informations personnelles, votre photo de profil, etc.</p>
{% endblock %}
